body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #f3f3f3, #7da7a0, #c9a9ca);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    color: white;
}
.container{
    width: 50%;
    min-height: fit-content;
    height: 65%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(90px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
#avatar{
    background-image: linear-gradient(to top left, #f3f3f3, #7da7a0, #c9a9ca);
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0;
}
#avatar::after{
    content: 'Who Are You';
    background-color: #92c8bf;
    position: absolute;
    top: 0;
    right: -20%;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px 5px 5px 0;
}
.container p:nth-child(2){
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
}
#hero{
    width: 25%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(90px);
    border-radius: 10px;
    box-shadow: 0.25px 0.25px 20px rgba(0, 0, 0, 0.1);
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.5s ease;
    box-sizing: border-box;
}
#hero:active{
    scale: 0.90;
}
#hero:hover{
    background: rgba(255, 255, 255, 0.2);
}



  /* .whatsapp-bubble {
    background-color: #ffffff;
    color: #111b21;
    font-size: 14.2px;
    line-height: 1.4;
    padding: 8px 12px;
    max-width: 65%;
    border-radius: 0px 7.5px 7.5px 7.5px;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  }
  .whatsapp-bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 9px solid #ffffff; 
  } */